<p>
	ng2-optimizely-sample is a sample project for testing <a href="https://www.optimizely.com/">Optimizely</a>
	experiments within a Angular 2 SPA.
<p>

<h2>Features</h2>
<ul>
	<li>Angular 2 implementation based on <a href="https://mgechev.github.io/angular2-seed/">angular2-seed</a>.</li>
	<li>Uses <a href="https://github.com/ngrx/store">ngrx/store</a> and <a href="https://github.com/ngrx/effects">ngrx/effects</a>
		for application state management.
	</li>
	<li>Mock "authentication" behavior to show/hide a call to action button on the homepage.</li>
	<li>Exposes this state using ngrx/effects for use by Optimizely (conditonal activation mode).</li>
</ul>
